<app-back-button></app-back-button>
<div class="article-detail-container" *ngIf="articleDetail">
  <h1>{{ articleDetail.title }}</h1>
  <p class="meta">
    <span class="meta-item">{{
      articleDetail.createdAt | date : "short"
    }}</span>
    <span class="meta-item">{{ articleDetail.authorUsername }}</span>
    <span class="meta-item">{{ articleDetail.themeName }}</span>
  </p>
  <div class="article-content">
    <p>{{ articleDetail.content }}</p>
  </div>

  <hr />

  <p>Commentaires</p>
  <div class="comments">
    <div *ngFor="let comment of articleDetail.comments" class="comment">
      <div class="comment-item">
        <div class="comment-author">
          {{ comment.username }}
        </div>
        <div class="comment-box">
          <p>{{ comment.content }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="add-comment">
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()" class="form">
      <mat-form-field appearance="outline" class="comment-area">
        <mat-label>Écrivez ici votre commentaire</mat-label>
        <textarea matInput formControlName="content" rows="3"></textarea>
      </mat-form-field>
      <button mat-icon-button type="submit" [disabled]="commentForm.invalid">
        <img src="assets/icon_send.png" alt="Envoyer" class="send-icon" />
      </button>
    </form>
  </div>
</div>
