.header-mobile.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  min-height: 60px;
}

.header-mobile.left-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  min-height: 60px;
}

button[mat-icon-button] {
  background-color: #fff;
  border: none;
}

.logo-centered {
  width: 250px;
}

.logo-left {
  width: 100px;
}