<header
  class="header-mobile"
  [ngClass]="{ 'center-logo': !showMenu, 'left-logo': showMenu }"
>
  <img
    [ngClass]="{ 'logo-centered': !showMenu, 'logo-left': showMenu }"
    (click)="redirectToArticles()"
    (keydown.enter)="redirectToArticles()"
    src="assets/logo_p6.png"
    alt="Logo"
  />
  <button mat-icon-button (click)="toggleSidebar()" *ngIf="showMenu">
    <mat-icon>menu</mat-icon>
  </button>
</header>

<hr *ngIf="showMenu" />

<aside class="sidebar" [ngClass]="{ 'sidebar-open': isSidebarOpen }">
  <div class="sidebar-content">
    <div class="sidebar-top">
      <button
        mat-menu-item
        [routerLink]="['/articles']"
        (click)="closeSidebar()"
        class="article-button"
      >
        Articles
      </button>
      <button
        mat-menu-item
        [routerLink]="['/themeList']"
        (click)="closeSidebar()"
        class="theme-button"
      >
        Thèmes
      </button>
    </div>
    <div class="sidebar-bottom">
      <div class="profile">
        <img (click)="redirectToMe(); closeSidebar()"
             aria-label="Mon profil"
             (keydown.enter)="redirectToMe()"
             [src]="sourceImage"
             alt="profil"
             class="profile-img" />
      </div>
    </div>
  </div>
</aside>

<div class="overlay" *ngIf="isSidebarOpen" (click)="closeSidebar()"></div>
