.back-button {
  background-color: white;
  border: none;
  width: 100px;
}

mat-icon {
  font-size: 30px;
}

@media (max-width: 600px) {
  .back-button {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 20px;
  }
}
