.separation{
    margin-left: 5em;
    margin-right: 5em;
}

.me-container {
  max-width: 400px;
  margin: 50px auto 20px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.abonnement-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.theme-card mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

mat-card {
  background-color: #F5F5F5;
}

.subscribe-title {
  text-align: center;
  margin: 20px auto;
}


.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.disconnect {
  display: grid;
  margin: 10px auto 0 auto;
}