.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  padding: 20px;
}

.logo img {
  max-width: 600px;
  width: 100%; 
  height: auto;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 100px;
  max-width: 400px;
  width: 100%;
}

@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
    gap: 50px;
  }
  .logo {

  }
  .buttons {
    max-width: 150px;
  }
}
