<div class="theme-list-container">
  <h2>Liste des Thèmes</h2>

  <div class="theme-grid">
    <mat-card *ngFor="let theme of themes" class="theme-card">
      <mat-card-header>
        <mat-card-title>{{ theme.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ theme.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="subscribeToTheme(theme.id)">S'abonner</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>