.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
    min-height: 100px;
    z-index: 100;
}

.logo {
    height: 100px;
}

.nav-links {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: end;
    margin-right: 30px;
}

.nav-links a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.nav-links a.active {
    font-weight: bold;
    color: #6C5CCF;
}

.profile {
    display: flex;
    align-items: flex-end;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}